/* display workout page */
.workout {
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  background-color: #e1edf2;
  border-radius: 3px;
  margin: 20px 0;
  padding: 20px;
}

#exercises td {
  padding: 5px;
}
#deleteBtn,
#editBtn {
  width: 75px;
  margin-right: 20px;
}

/* Create workout page */
#createForm {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

#createForm > * {
  margin: 10px;
  margin-left: 0px;
}

.eachExercise {
  display: flex;
  flex-direction: row;
  height: 30px;
}
.eachExercise > * {
  margin-right: 15px;
}

#createBtn,
#add-exercise {
  width: max-content;
}

input[type="number"] {
  width: 100px;
}

.deleteExercise {
  border-radius: 50%;
  background-color: #6c757d;
  border: #6c757d;
  color: white;
}

/* create workout event component */
#createEventForm {
  /* background-color: #e1edf2; */
  /* border-radius: 3px;
  margin: 20px 0;
  padding: 20px; */
  display: flex;
  flex-direction: column;
}
#createWorkoutEvent > h5:hover {
  cursor: pointer;
  font-weight: 600;
}
.createEventForm > * {
  margin-right: 10px;
  margin-top: 10px;
}
