/* .workout {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#workoutName {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

#workoutLength {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-start: 3;
} */

/* display workout page */
.workout {
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  background-color: #e1edf2;
  border-radius: 3px;
  margin: 20px 0;
  padding: 20px;

}

#deleteBtn,
#editBtn {
  width: 75px;
  margin-right: 20px;
}

/* Create workout page */
#createForm {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

#createForm > * {
  margin: 10px;
  margin-left: 0px;
}

.eachExercise > * {
  margin-right: 15px;
}

#createBtn, #add-exercise {
  width: max-content;
}

input[type="number"] {
  width: 100px;
}

/* create workout event component */
#createWorkoutEvent {
  background-color: #e1edf2;
  border-radius: 3px;
  margin: 20px 0;
  padding: 20px;
}
#createWorkoutEvent > h5:hover {
  cursor: pointer;
  font-weight:600;
}
.createEventForm > * {
  margin-right: 10px;
  margin-top: 10px;
}