.monthBox{
    display: flex;
    margin: 15px 0;
}
.monthNav{
    flex: 1;
}
.month{
    flex: 7;
    text-align: center;
}
.calHeader {
    padding: 10px 0;
    text-align: center;
}

.all-cells{
    border: 1px solid #4a4453;
}
.cell {
    min-height: 125px;
    border: 1px solid #4a4453;
    padding: 10px;
}
.row {
    margin-left: unset !important;
    margin-right: unset !important;
}

.workoutEvent {
    padding: 5px;
    border-radius: 3px;
}
.workoutBox{
    background-color: #b0a8ba;
}
    .workoutBox :hover{
        background-color: greenyellow;
    }


/* Not in use currently */
.weekBox{
    margin-top: 3%;
    display: flex;
}
    .weekNav{
        flex: 1;
    }
    .week{
        flex: 7;
        column-count: 7;
    }

.timeBox{
    display: flex;
    height: 1500px;
}
    .timeLabels{
        flex: 1;
    }
        .times{
            height: 1500px;
            border-right: 1px solid black;
        }
    .timesUnderDates{
        flex: 7;
        column-count: 7;
    }
        .timesUnderDates>div{
            height: 1500px;
            border: 1px solid red;
        }

    .spacer{
        flex: 1;
        border: 1px solid blue;
    }
/*End of not in use code*/ 