/* My profile page */

#profPic {
  border-radius: 70px;
  width: 120px;
  height: 120px;
}

.profileLabel {
  font-weight: bolder;
}

.workoutName {
  padding: 15px;
  border-radius: 4px;
  background-color: #0e0066;
  max-width: 300px;
  color: white;
}

.workoutName:hover {
  cursor: pointer;
}

/* editProfile */
.editBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.editBox button {
  height: 30%;
  margin: 10px;
}
#eachFavorite {
  bottom: 40%;
}

.completed {
  text-decoration: line-through;
  font-weight: bolder;
}
