/* My profile page */

#profPic {
  border-radius: 70px;
  width: 180px;
  height: 180px;
}

.profileLabel {
  /* font-weight: bolder; */
}

.profileContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileBox{
  display: flex;
  flex-direction: column;
}
  .iconBox{
    float: right; 
    height: 30px;
    width: 30px;
  }

.workoutName {
  padding: 15px;
  border-radius: 4px;
  background-color: #0e0066;
  max-width: 300px;
  color: white;
}

.workoutName:hover {
  cursor: pointer;
}

#editProfile{
  margin-left: 50%;
}
  #editProfile:hover{
    color: darkgray;
    cursor: pointer;
  }

/* editProfile */
.editBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.editBox button {
  height: 30%;
  margin: 10px;
}
#eachFavorite {
  bottom: 40%;
}

.completed {
  text-decoration: line-through;
}

li {
  margin-bottom: 10px;
}
