.sidebar {
    display: block;
    width: 225px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transition: all 0.3s;
    padding: 25px 20px;
    z-index: 1;      /* Stay on top of everything */
    background-color: #0e0066; 
    overflow-x: hidden;     /* Disable horizontal scroll */

    font-size: 20px;
    color: white;
}
.sidebar-box {
    margin-bottom: 20px;
}
#verify-reminder-box {
    border-radius: 5px;
    background-color: #e1edf2;
    padding: 15px;
    margin: 15px 0;
    font-size: smaller;
    color: black;
}

#hamburgerMenu {
    display: none;
}
 /* Style the navigation menu */
 .topnav {
    overflow: hidden;
    background-color: #0e0066;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: min-content;
    min-height: 45.5px;

    color: white;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  /* .topnav #myLinks {
    display: none;
  } */
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }


@media screen and (max-width: 550px) {
    #hamburgerMenu {
        display: block;
    }  
    .sidebar{
        display: none;
    }
}