.popup {
  position: absolute;
  display: flex;
  flex-direction: column;

  /* top: 50%; */
  left: 30%;

  width: 600px;
  height: max-content;
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
  z-index: 100; /*Makes sure it's in front of everything*/
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}

.close {
  margin-top: 10px !important;
  text-align: right !important;
  margin: 5px 5px;
}
.close:hover {
  cursor: pointer;
}

.workoutInfo > *, .warning > *, .displayTags {
  margin-bottom: 15px !important;
}

.popup-buttons {
  margin-right: 15px;
}

.exerciseBox {
  border-top: 1px solid navy;
  padding-top: 15px;
}
.exercise {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.viewExerciseName {
  margin-left: 20px;
}

#createEventForm > * {
  margin-bottom: 10px;
}