/* display workout page */
.workout {
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  background-color: #e1edf2;
  border-radius: 4px;
  margin: 20px 0;
  padding: 20px;
}
.workout > * {
  margin-bottom: 10px;
}

#exercises td {
  padding: 5px;
}
#deleteBtn,
#editBtn {
  width: 75px;
  margin-right: 20px;
}

/* Create workout page */
#createForm {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

#createForm > * {
  margin: 10px;
  margin-left: 0px;
}

.eachExercise {
  display: flex;
  flex-direction: row;
  height: 30px;
}
.eachExercise > * {
  margin-right: 15px;
}

#createBtn,
#add-exercise {
  width: max-content;
}

input[type="number"] {
  width: 100px;
}

.deleteExercise {
  border-radius: 50%;
  background-color: #6c757d;
  border: #6c757d;
  color: white;
}

/* create workout event component */
#createEventForm {
  /* background-color: #e1edf2; */
  /* border-radius: 3px;
  margin: 20px 0;
  padding: 20px; */
  display: flex;
  flex-direction: column;
}
#createWorkoutEvent > h5:hover {
  cursor: pointer;
  font-weight: 700;
}
.createEventForm > * {
  margin-right: 10px;
  margin-top: 10px;
}


/* Source: https://dev.to/prvnbist/create-a-tags-input-component-in-reactjs-ki */
.tags-input {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 48px;
  width: 480px;
  padding: 0 8px;
  border: 1px solid rgb(214, 216, 218);
  border-radius: 6px;
}
/* .tags-input:focus-within {
  border: 1px solid #0052cc;
} */
.tags-input input {
  flex: 1;
  border: none;
  height: 46px;
  font-size: 14px;
  padding: 4px 0 0 0;
}
.tags-input input:focus {
    outline: transparent;
}

#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
}

.tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 0 8px 8px 0;
  background: #0e0066;
}
  .tag-title {
    margin-top: 3px;
  }

  .tag-close-icon {
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
    margin-left: 8px;
    color: #0052cc;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
  }
  .tag-close-icon:focus {
    cursor: hover;
  }
